
@if (countryRxResource.error()) {
   <app-not-found></app-not-found>
}
@if (countryRxResource.isLoading()) {
    <h1 class="text-2xl">Cargando...</h1>
}
@if (countryRxResource.value(); as country) {
<div class="max-w-5xl mx-auto my-10 p-4">
  <div class="card bg-base-100 shadow-2xl overflow-hidden border border-base-300">
    
    <div class="relative h-64 w-full bg-base-300">
      <img [src]="country.flagSvg" class="w-full h-full object-cover opacity-80" />
      <div class="absolute inset-0 bg-gradient-to-t from-base-100 to-transparent"></div>
      <div class="absolute bottom-6 left-8 flex items-end gap-4">
        <span class="text-7xl shadow-sm">{{ country.flag }}</span>
        <div>
          <h1 class="text-4xl font-black">{{ country.name }}</h1>
          <p class="text-sm opacity-70 italic">{{ country.officialName }}</p>
        </div>
      </div>
      
    </div>

    <div class="card-body gap-8">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        
        <div class="space-y-4">
          <h3 class="font-bold text-primary flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 002 2h2.945M8 3.935A9 9 0 0116.055 20M8 3.935A9 9 0 003.055 11" /></svg>
            Ubicación
          </h3>
          <div class="stats stats-vertical bg-base-200 w-full shadow">
            <div class="stat">
              <div class="stat-title text-xs">Continente</div>
              <div class="stat-value text-lg text-secondary">{{ country.region }}</div>
              <div class="stat-desc">{{ country.subregion }}</div>
            </div>
          </div>
        </div>

        <div class="space-y-4">
          <h3 class="font-bold text-primary flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            Economía y Datos
          </h3>
          <div class="flex flex-col gap-2">
            <div class="flex justify-between border-b border-base-200 pb-1">
              <span class="opacity-60 text-sm">Capital:</span>
              <span class="font-medium">{{ country.capital }}</span>
            </div>
            <div class="flex justify-between border-b border-base-200 pb-1">
              <span class="opacity-60 text-sm">Moneda:</span>
             <p class="font-medium">
                @for (curr of country.currencies; track curr.name) {
                    {{ curr.name }} ({{ curr.symbol }}) {{ !$last ? ', ' : '' }}
                }
                </p>
            </div>
            <div class="flex justify-between border-b border-base-200 pb-1">
              <span class="opacity-60 text-sm">Población:</span>
              <span class="font-medium">{{ country.population | number }}</span>
            </div>
          </div>
        </div>

        <div class="space-y-4">
          <h3 class="font-bold text-primary flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" /></svg>
            Limita con
          </h3>
          <div class="flex flex-wrap gap-2">
            @for (border of country.borders; track border) {
              <div class="badge badge-outline badge-md hover:badge-primary transition-all cursor-default">
                {{ border }}
              </div>
            } @empty {
              <span class="text-sm opacity-50 italic text-center w-full">Es una isla 🏝️</span>
            }
          </div>
          <div class="pt-4 flex flex-col gap-4">
            <a [href]="country.mapUrl" target="_blank" class="btn btn-sm btn-block btn-accent">Ver en Google Maps</a>
            <a (click)="goBack()" class="btn btn-primary btn-block btn-accent">Volver</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
}