 <h3>Agregar: {{name()}}, Poder:{{power()}}</h3>
        <input
            type="text" 
            [value]="name()"
            class="form-control mt-2 mb-2" 
            placeholder="Nombre" 
            #txtName 
            (input)="name.set(txtName.value)"
        />
        <!-- 
            #txtName: Es una referencia directa al elemento HTML (el input como tal).
            Se llama Template Reference Variable (Variable de referencia de plantilla)

            Y asi como funciona para este input funciona para cualquiere elemento del DOM
        -->
        <input 
            type="number"
            [value]="power()"
            class="form-control mt-2" 
            placeholder="poder"
            #txtPower
            (input)="power.set(+txtPower.value)"
        />
        
        <button (click)="agregarPersonaje()" class="btn-primary mt-2 btn">Agregar</button>