<h1>DragonBall-super Page</h1>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">

        <dragonball-character-add
            (newCharacterEvent)="dragonBallServiceIn.agregarPersonaje($event)"
        >
        </dragonball-character-add>
       
    </div>
    <div class="col-12 col-sm-6">
        <dragonball-character-list 
            [characters]="dragonBallServiceIn.characters()"
            [title]="'Listado Heroes'"
        >
        </dragonball-character-list> 
        <!--Con [characters] le envio al componente hijo un argumento que está esperando a treaves de un input signals-->
    </div>
</section>
